<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login or Signup</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="ts/chat.js"></script>
  </head>
  <body>
    <div class="container">
      <ul class="success-list">
        <% if(messages.success_msg) { %>
        <li class="success-list-item"><%= messages.success_msg %></li>
        <% } %>
      </ul>
      <h1>Hello! Welcome to Fit Conversation Hub</h1>
      <button onclick="location.href='/user/login'">Login</button>
      <button onclick="location.href='/user/signup'">Signup</button>
    </div>
  </body>
</html>
