<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form action="/user/signup" method="post">
      <ul class="error-list">
        <% if (typeof errors !== 'undefined') { %> <% errors.forEach(error => {
        %>
        <li class="error-list-item"><%= error.message %></li>
        <% }) %> <% } %>
      </ul>

      <h2>Register here</h2>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password must be at least 6 characters"
        required
      />

      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Enter password one more time"
        required
      />

      <input type="submit" value="Register" />

      <p>Already a user? <a href="/user/login"> Login now</a></p>
    </form>
  </body>
</html>
